<html>
<body>
<div>
  <form method="post">
    <input type="text" name="name" placeholder="Название">
    <input type="text" name="desc" placeholder="Описание">
    <button type="submit">Добавить</button>
  </form>
</div>
<div>Список заметок</div>
{{#notes}}
<div>
  {{id}}
  {{name}}
  {{desc}}
</div>
{{/notes}}
</body>
</html>